@font-face {
  font-family: 'Mona Sans';
  src:
    url('~/assets/Mona-Sans.woff2') format('woff2 supports variations'),
    url('~/assets/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 400 800;
  font-stretch: 75% 125%;
}
